.dots-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1; /* Keeps dots in the background */
  }
  
  .blue-dot {
    position: absolute;
    background-color: rgb(255, 8, 226);
    border-radius: 50%;
    opacity: 0.15;
    transition: transform 0.1s linear;
  }
  